default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  encoding: unicode
  username:
  password:

development:
  <<: *default
  database: pittohio_development

test:
  <<: *default
  database: pittohio_test

staging:
  <<: *default
  database: pittohio_staging

production:
  <<: *default
  database: pittohio_production
